NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api

DATABASE_TYPE=mongodb
DATABASE_PORT=27017
DATABASE_USERNAME=admin
DATABASE_PASSWORD=123456
DATABASE_NAME=blitzy
DATABASE_URL=mongodb://localhost:27017

# Support "local", "s3", "s3-presigned"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d
